body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'open sans', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}



.containerheader {
    display: flex;
    flex-flow: column wrap;
    background: #1F2937;
    height: 28%;
    padding-left: 32%;
    padding-right: 32%;

    
}

.toppage {
    display: flex;
    justify-content: space-between;

}

.headerlogo {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 0px;
}

.headerlogo img{
    display: flex;
    width: 60px;
}

.textheader {
    width: 300px;
    padding: 0px;
}

.threelinks {
    display: flex;
    justify-content: space-between;
    padding: 0px;

}


.headertitle  {
    
    flex-flow: column;
    height: 215px;
    width: 420px;
    gap: auto;
}

.headertitletext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
}

.topmediatext {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
}

.headerimage {
    height: 191px;
    width: 420px;
}

.topsection {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    margin-top: 70px;
}

.topsectionmedia {
    display: flex;
    flex-flow: column;
    gap: auto;
}

.primary-button {
    background-color: #3882F6;
    color: white;
    border: none;
    width: 420px;
    padding: 6px;
    border-radius: 20px;
}




/* -------------------------------------------------*/

.middlesection1 {
    display: flex;
    flex-flow: column;
    height: 28%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;

}

.middlesection1head {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding: 30px;
}

.middlesection1info {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
}


.middlesection1 img {
    display: flex;
    margin: 15px;
    width: 120px;
    height: 120px;
    border: 6px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 0%;
    
    
}

.midsection1images {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 120px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.midsection1images p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

/*--------------------------------------------*/


.middlesection2 {
    display: flex;
    flex-flow: column;
    height: 20%;
    background-color: #E5E7EB;
    justify-content: center;
    padding-left: 37%;
    padding-right: 37%;
}

.testimonial {
    display: flex;
    font-weight: 100;
    font-size: 28px;
    font-style: italic;
    margin: 0px;
}

.reginald {
    display: flex;
    justify-content: right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

/* ---------------------------------------------------- */

.endsection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 19%;
    padding-left: 32%;
    padding-right: 32%;
}

.endsectioncontainer {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    height: 40%;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    color: #F9FAF8;
}

.buttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.button-secondary {
    display: flex;
    background: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-weight: bold;


}

.callsign {
    display: flex;
    flex-flow: column;
}

.callaction {
    display: flex;
    margin: 0px;
    height: 20px;
    font-weight: 900;
    font-size: 18px;
}

.signup {
    display: flex;
    margin: 0px;
    height: 20px;
    font-size: 14px;

}


/* ---------------------------------------------------- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background: #1F2937;
    height: 5%;
}