body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

.containerheader {
    display: flex;
    flex-flow: column wrap;
    background: #1F2937;
    flex: 1;
    justify-content: space-between;
}

.toppage {
    display: flex;
    justify-content: space-between;
    padding-left: 16%;
    padding-right: 16%;
}

.headerlogo {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 0px;
}

.headertitle .headertitletext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    display: flex;
    justify-content: space-between;

}


ul {
    display: flex;
    list-style: none;
}

.headerimage {
    height: 175px;
    width: 350px;
}

.topsection {
    display: flex;
    justify-content: center;
    align-items: center;
}



